@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer components {
  .terminal {
    @apply bg-bg-secondary border border-bg-highlight rounded;
  }
}
